@model Product
@{
    ViewData["Title"] = "AddProduct";
}

<link rel="stylesheet" href="~/css/Admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<center>
    <section class="add-products">

        <form asp-action="processInsert" asp-controller="Products" method="post" enctype="multipart/form-data">
            <h3>Add New Product: </h3>
            <input asp-for="ProductName" type="text" required placeholder="Enter product name" maxlength="100" class="box" name="ProductName">

            <select asp-for="ProductType" name="ProductType" class="box" required>
                <option value="" disabled selected>-- Select category --</option>
                <option value="Cake">Cake</option>
                <option value="Pastry">Pastry</option>
            </select>
            <input asp-for="ProductPrice" type="number" min="0" max="9999999999" required placeholder="Enter product price" name="ProductPrice" onkeypress="if(this.value.length == 10) return false;" class="box">
            <input type="file" name="imagefile" class="box" accept="image/jpg, image/jpeg, image/png, image/webp" required>
            <input type="submit" value="add product" name="add_product" class="btn">
        </form>

    </section>
</center>

