@model Order
@{
    ViewData["Title"] = "AddData";
}

<center>
    <h1>Add New Order Information:</h1>
    <br /> <hr /><br />
    <form asp-action="ProcessInsert" method="post">
        <table border="1">
            <tr>
                <th><label asp-for="DatePlacedOn"></label></th>
                <td>
                    <input asp-for="DatePlacedOn" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="UserID"></label></th>
                <td>
                    <input asp-for="UserID" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="TotalPrice"></label></th>
                <td>
                    <input asp-for="TotalPrice" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="PaymentMethod"></label></th>
                <td>
                    <input asp-for="PaymentMethod" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="PaymentStatus"></label></th>
                <td>
                    <input asp-for="PaymentStatus" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="DeliveryStatus"></label></th>
                <td>
                    <input asp-for="DeliveryStatus" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="DeliveryContact"></label></th>
                <td>
                    <input asp-for="DeliveryContact" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="DeliveryAddress"></label></th>
                <td>
                    <input asp-for="DeliveryAddress" />
                </td>
            </tr>
            <tr>
                <th><label asp-for="EstimatedArrivalDate"></label></th>
                <td>
                    <input asp-for="EstimatedArrivalDate" />
                </td>
            </tr>
            <tr>
                <th colspan="2"><button type="submit" class="btn btn-primary">Create New Order</button></th>
            </tr>
        </table>
    </form>
</center>