
@{
    ViewData["Title"] = "broadcastMessagePage";
}

<center>
    <h1>Send a newsletter</h1>
    <br /><hr /><br />
    <span>@ViewBag.msg</span>
    <br /><br />
    <form method="post" asp-action="processBroadcastMessage" asp-controller="SNS">
        <label>Subject: </label><br />
        <input type="text" name="subjectTitle" class="form-control" />
        <br /><br />
        <label>Message Body Text: </label><br />
        <textarea name="messageBodyText" rows="5" cols="100" class="form-control"></textarea>
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Broadcast Message Now!</button>
    </form>
</center>

