
@{
    ViewData["Title"] = "SNSIndex";
}

<center>
    <div class="heading">
        <h3>Subscribe to RT Pastry Newsletter</h3>        
    </div> 
    <br />
    <p>Would you like to receive emails on our latest news and products? If so, leave your email down below!</p>
    <hr /><br />
    <span>@ViewBag.msg</span>
    <br />
    <br />
    <form method="post" asp-action="processSNSSubscription" asp-controller="SNS">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <label>Enter your email:</label>
                    <input type="email" name="emailAddress" class="form-control" size="50" />
                </div>
                
            </div>
            
            <br /><br />
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
        
    </form>
</center>

